[submodule ".sensitive"]
	path = .sensitive
	url = git@github.com:nicooga/.nicolasoga.com.ar.git
[submodule "prueba-teamknowlogy"]
	path = prueba-teamknowlogy
	url = git@github.com:nicooga/prueba-teamknowlogy.git
