nicolasoga.com.ar {
  root * /public
  file_server
  encode gzip
  try_files {path} index.html
}

comments-service.nicolasoga.com.ar {
  reverse_proxy * comments_service:4000
}

{$TELMMA_FRONT_DOMAIN} {
  root * /pyramidal_app_front
  file_server
  encode gzip
  try_files {path} index.html
}

{$TELMMA_PLATFORM_DOMAIN} {
  reverse_proxy * {$TELMMA_PLATFORM_CONTAINER}:4000
}

pgadmin.nicolasoga.com.ar {
  reverse_proxy * pgadmin:5050
}

prueba-teamknowlogy.nicolasoga.com.ar {
  reverse_proxy * prueba_teamknowlogy:3000
}
